<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="${applicationName}"
        android:label="blue_cat_studio"
        android:icon="@mipmap/ic_launcher">

        ...
    </application>

</manifest>